@page "/AddUserPage"
@inject IUserService _access

<div class="h3">@_message</div>
<EditForm Model="@_newperson" OnValidSubmit="@SubmitPersonAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
        <div>
            <label class="form-label" for="firstName">First Name</label>
            <InputText id="firstName" @bind-Value="@_newperson.Firstname"></InputText>
        </div>
        <div>
            <label class="form-label" for="lastName">Last Name</label>
            <InputText id="lastName" @bind-Value="@_newperson.Lastname"></InputText>
        </div>
        <div>
            <label class="form-label" for="email">Email</label>
            <InputText id="email" @bind-Value="@_newperson.Email"></InputText>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private PersonModel _newperson = new();

    private string _message = "Please enter user data";

    private async Task SubmitPersonAsync()
    {
        await _access.InsertUserAsync(_newperson);
        _message = "User submitted successfully";
        //clear the form by resetting newperson  
        _newperson = new();
    }
}