@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.

<button @onclick="EnterEditMode">Edit Mode</button>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <TaskList Name="Vincent"/>
    </div>
    <div class="col-lg-6 col-md-12">
        <TaskList Name="Tim"/>
    </div>
</div>
<CascadingValue Value="@this">
    <GenerateError></GenerateError>
</CascadingValue>
<br/>
<StateSelector/>

<p>@ErrorMessage</p>
<ErrorPopup @bind-ErrorMessage="ErrorMessage"></ErrorPopup>
<div class="col-lg-4">
    <CustomErrorContent>
        <ChildContent>
            <Counter @bind-TotalCount="@parentCount"/>
        </ChildContent>
        <ErrorContent>
            <p class="errorUi">Counter broke reload page to fix</p>
        </ErrorContent>
    </CustomErrorContent>

    @code
    {
        int parentCount = 42;
    }

    <ErrorBoundary>
        <ChildContent>
            <Counter @bind-TotalCount="@parentCount"/>
        </ChildContent>
        <ErrorContent>
            <p class="errorUi">Counter broke reload page to fix</p>
            <p>@context.Message</p>
        </ErrorContent>
    </ErrorBoundary>

</div>