@typeparam TItem
@typeparam TId


<InputSelect @attributes="@AdditionalAttributes" @bind-Value="@BoundValue">
    <option value="@InitialValue" selected disabled hidden>Choose a country</option>
    @foreach (TItem item in Items)
    {
        dynamic val = item!;
        <option value="@val.Id">@val.Name</option>
    }
</InputSelect>

@code {
    private static readonly TId InitialValue;

    [Parameter]
    public string Id { get; set; } = "Id";
    
    [Parameter]
    public string Name { get; set; } = "Name";
    
    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = null!;
    
    [Parameter]
    public TId SelectedId { get; set; } = InitialValue;

    [Parameter]
    public EventCallback<TId> SelectedIdChanged { get; set; }

    private TId BoundValue
    {
        get => SelectedId;
        set => SelectedIdChanged.InvokeAsync(value);
    }
    
    [Parameter(CaptureUnmatchedValues=true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

}