@using BlazorServerDemo.Interfaces
@using BlazorServerDemo.Models
@using System.Transactions
@inject ICountryService _countryService

@if (Countries is null)
{
    <p>Loading component</p>
}
else
{
    <label for="selectCountry">Select Country</label>
    <br/>
    @*<InputSelect id="selectCountry" @bind-Value="@SelectedCountryId">
        <option value="" selected disabled hidden>Choose a country</option>
        @foreach (var country in Countries)
        {
            <option value="@country.Id">@country.Name</option>
        }
    </InputSelect>*@

    @*<InputListSelector id="selectCountry" @bind-Items="@Countries" @bind-SelectedId="@SelectedCountryId" TId="Guid" TItem="Country"/>*@
    <InputListSelectorV2 id="selectCountry" Items="@Countries" @bind-SelectedItem="@SelectedCountry" TId="Guid" TItem="Country"/>
    
    <InputListSelectorV2 id="selectProvince"  TId="Guid" TItem="Province"
             Items="@(SelectedCountry?.Provinces ?? Enumerable.Empty<Province>())" @bind-SelectedItem="@SelectedProvince"
             DefaultValue="Select a province"/>
    

    <p>You selected @SelectedCountry?.Name</p>
    <p>You selected @SelectedProvince?.Name</p>
    
}

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Countries = _countryService.GetCountries();
    }

    private Guid SelectedCountryId
    {
        get => SelectedCountry?.Id ?? Guid.Empty;
        set => SelectedCountry = Countries.FirstOrDefault(c => c.Id == value);
    }

    private Country? SelectedCountry { get; set; }
    private Province? SelectedProvince { get; set; }

    IEnumerable<Country> Countries { get; set; }
}